<a href="#/scans">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Scan</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateScan()" ng-init="getScan()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="scan.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Category</label>
          <input type="text" class="form-control" ng-model="scan.author" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" ng-model="scan.publisher" placeholder="Publisher">
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="scan.image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
          <label>Buy URL</label>
          <input type="text" class="form-control" ng-model="scan.buy_url" placeholder="Buy URL">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>