<a href="#/scans">Go Back</a>
<div class="panel panel-default" ng-init="getScan()">
  <div class="panel-heading">
    <h3 class="panel-title">{{scan.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{scan.image_url}}">
      </div>
      <div class="col-md-8">
        </p>{{scan.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Categ: {{scan.categ}}</li>
          <li class="list-group-item">Category: {{scan.author}}</li>
          <li class="list-group-item">Author: {{scan.publisher}}</li>
        </ul>
        <a target="_blank" href="{{scan.buy_url}}" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/scans/edit/{{scan._id}}">Edit</a> |  <a href="#" ng-click="removeScan(scan._id)">Delete</a>
  </div>